<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tecys.escaladenotas"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Escala de Notas</name>

    <description>
        Aplicación que crea una escala en base a parametros indicados por el usuario.
		Cuenta con publicidad de Google 
    </description>

    <author href="http://tecys.com" email="contacto@tecys.com">
        Tecys Tecnología S.A.
    </author>
	<preference name="phonegap-version" value="2.5.0" />
	<preference name="orientation" value="portrait" />
	<access origin="http://tecys.com" subdomains="true" />
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>